@charset "utf-8";
/* CSS Document */

html, body{
	background-color:#FFF;}

#likebtn{
	width:80px;
	height:37px;
	margin:5px 0 15px 0;
	background-image:url(../images/like.png);
	cursor:pointer;
	}
#likebtn:hover{
	width:80px;
	height:37px;
	background-image:url(../images/like_h.png);
	}

#box01{width:550px; background-color:#FFF;}
p{
	font-size:13px;
	font-family:Verdana, Geneva, sans-serif;
	line-height:1.5;
	padding:20px;}